<div class="header">
  <div class="title">
    <a href="<%= top_path %>/">
      <span class="title"><%= h(title) %></span>
      <span class="title-separator">-</span>
      <span class="title-project">Ranguba</span>
    </a>
  </div>
  <ul class="other-languages">
    <li id="other-language-japanese" lang="ja" xml:lang="ja"><a href="index.html.ja">日本語</a></li>
  </ul>
  <ul class="menu">
    <li id="menu-reference"><a href="<%= top_path %>/rroonga/en/">Reference Manual</a></li>
    <li id="menu-tutorial"><a href="<%= top_path %>/rroonga/en/file.tutorial.html">Tutorial</a></li>
    <li id="menu-install"><a href="<%= top_path %>/#install-rroonga">Install</a></li>
    <li id="menu-developer"><a href="<%= top_path %>/developer.html">Developer</a></li>
  </ul>
</div>

<div class="content">
